* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

input[type="text"] {
  cursor: text;
}

.calendarTile,
button,
input[type="submit"] {
  cursor: pointer;
}

div {
  text-align: center;
  height: 80px;
}

.hidden {
  display: none;
}

#calendarHeader {
  display: flex;
}
#weekdays {
  display: flex;
  justify-content: space-around;
}
#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
